@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lfl2cl');
  src:  url('fonts/icomoon.eot?lfl2cl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lfl2cl') format('truetype'),
    url('fonts/icomoon.woff?lfl2cl') format('woff'),
    url('fonts/icomoon.svg?lfl2cl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-image:before {
  content: "\e90d";
}
.icon-images:before {
  content: "\e90e";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-flickr2:before {
  content: "\eaa4";
}
.icon-tumblr:before {
  content: "\eab9";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-pinterest:before {
  content: "\ead1";
}
